%article
  .corpse
    %h1= "Corpse ##{corpse.id}"

    %p.small
      = "Liked by #{corpse.likes.length} living souls"

    #like-button
      - if current_user
        - if like
          = link_to "Unlike", like_path(like.id, corpse_id: corpse.id), method: :delete
        - else
          = link_to "Like", new_like_path(user_id: current_user.id, corpse_id: corpse.id)

    %br
    %br

    #authors-list
      Contributors
      %ul
        -corpse.authors.uniq.each do |author|
          %li.small= link_to author.name, author.profile

    = corpse.body

  .comments

    %hr

    -corpse.comments.each do |comment|
      = comment.body
      %br
      %p.small= comment.author.name
      %br

    -if current_user

      = form_for [corpse, corpse.comments.build] do |f|
        = f.label :Body, "Comment if you like:"
        %br
        = f.text_area :body, rows: '10', cols: '30'
        %br
        = f.submit "Comment"

