%h1
  = "#{profile.user.name}'s Profile"

- if current_user && current_user.id == profile.user_id
  = link_to "Edit Profile", edit_profile_path(profile.id)
  %br
  = link_to "Edit Information", edit_user_path(current_user.id)
  %br
  = link_to "Change Password", change_password_path

- if current_user
  - unless current_user.id == profile.user_id
    - unless current_user.friends.include? profile.user
      = link_to "Add Friend", add_friend_path(friend_id: profile.user.id)
    -else
      = link_to "Remove Friend", remove_friend_path(friend_id: profile.user.id)

%h2 About
= profile.about

%h2 Friends
- profile.user.friends.each do |friend|
  = link_to friend.name, profile_path(friend.profile)

%h2 Contributions
- snippets.each do |snippet|
  = snippet.body
  %hr

= will_paginate snippets
