%h1
  = "#{profile.user.name}'s Profile"

= link_to "Edit Profile", edit_profile_path(profile.id)

%h2 About
= profile.about

%h2 Contributions

- profile.user.snippets.each do |snippet|
  = snippet.body
  %hr

%h2 Friends

- profile.user.list_friends
