%p
  = parent.last_one_hundred
  
%fieldset
  = form_for snippet do |f|
    = render partial: "form", locals: { f: f }
    = f.hidden_field :corpse_id, value: params[:corpse_id]

    = f.submit "Update Corpse"

%p
  = "The current corpse progress: #{parent.body.length}/3,000"
