= form_for :user, action: "/update_password" do |f|

  = label_tag "old_password", "Old Password"
  %br
  = password_field_tag "old_password"
  %br
  = f.label :password, "New Password"
  %br
  = f.password_field :password
  %br
  = f.label :password_confirmation, "New Password Confirmation"
  %br
  = f.password_field :password_confirmation
  %br
  = submit_tag "Save Password"
