!!!
%html 
%head 
  %title Exquisitecorpse
  = stylesheet_link_tag "application", "data-turbolinks-track" =>  true
  = javascript_include_tag "application", "data-turbolinks-track"=>  true
  = csrf_meta_tags

%body
  .container
    %header
      - flash.keys.each do |type|
        %p
          = flash[type]
    #navbar
      %ul
        %li
          = link_to "Home", :root
        %li
          = link_to "Morgue", morgue_path
        %li
          = link_to "News", posts_path

        - unless current_user
          %li
            = link_to "Sign Up", new_user_path
          %li
            = link_to "Log In", '/log_in'

        - if current_user
          %li
            = link_to "New Corpse", new_corpse_path
          - unless random_corpse.nil?
            %li
              = link_to "Add To Corpse", new_corpse_snippet_path(random_corpse.id)
          %li
            = link_to "Log Out", '/log_out'
          %li
            = link_to "Profile", profile_path(current_user.profile.id)

      - if current_user
        - if unread_notifications.length > 0
          %p.small= link_to "You have #{pluralize(unread_notifications.length, "new notification")}.", notifications_path

    = yield
